@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Final Project- Welcome to Community Assist</h1>
    </div>
    
<div class="row">
    <div class="col-md-4">
        <h2>Our Mission</h2>
        <p>
            -Fake Text- Our mission is to facilitate the transfer of California Community College students to
            California's public four-year universities by providing an electronic system for academic
            planning which delivers accurate, timely, and complete information and operates as the
            official repository of articulation information for the state of California.
        </p>
      
    </div>
    <div class="col-md-4">
        <h2>Our History</h2>
        <p>
            -Fake Text- In 1985, the University of California began to explore
            using computers to store, maintain, and display transfer-related data.
             With funding from the California State
            Legislature, ASSIST was created under the guidance and counsel 
            of the three California postsecondary
            educational segments: the University of California, 
            the California State Universities, and the California
            Community Colleges. The goal was to use the computer 
            to provide students and counselors with an easy way
            to access accurate and complete information about transferring 
            from one California college or university to
            another. The initial project, with a small number of colleges
             and universities participating, was evaluated and
            approved. Since that time, ASSIST has grown to include
             information about all of the public postsecondary
            educational institutions in California. In addition,
             it is the official repository of articulation information
            for California’s public colleges and universities.
        </p>
        </div>
        <div class="col-md-4">
            <h2>Funding and Managing</h2>
            <p>
              -Fake Test-  ASSIST is funded by the California state legislature. 
                The ASSIST Board of Directors, made up of representatives from each of the
                public postsecondary educational segments, oversees development and
                 establishes policy for ASSIST. The daily implementation and
                project operations are managed by the ASSIST Coordination Site. 
                The Board of Directors and the ASSIST Coordination Site work
                together with participating campuses to ensure that ASSIST continues
                 to meet the needs of students transferring among California’s
                institutions of higher education
            </p>
        </div>
        </div>
    
</div>



